html,
body {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
  background-color: #f0f5f3;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.logo {
  padding-top: 3px;
}

.iot-logo {
  padding-left: 15px;
}

.navigation-bar {
  z-index: 10;
}

.signup-form {
  margin-top: 50px;
  z-index: 3;
}

.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: 15px;
  position: relative;
  z-index: 4;
  cursor: pointer;
}

#toast-container {
  top: auto !important;
  right: auto !important;
  bottom: 10%;
  left: 45%;
}

.create-user-response {
  position: absolute;
  text-align: center;
  align-content: center;
  width: 100%;
  margin-top: 50px;
  z-index: 5;
}

/* mobile view css */
@media only screen and (max-width: 600px) {
  .iot-logo {
    padding-left: 0px;
  }

  .signup-form {
    margin-top: 5px;
  }

  .field-icon {
    float: right;
    margin-left: -25px;
    margin-top: 10px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }

  #toast-container {
    top: auto !important;
    right: auto !important;
    left: auto !important;
    bottom: 10%;
  }
}
